**/__pycache__
# Don't bother with ignoring the specific types of detritus from every language
players/*/*
!players/example/example.c
!players/Scholar/Scholar.c
!players/ZombieMarch/ZombieMarch.py
!players/JustEverything/JustEverything.py
!players/BluntInstrument/BluntInstrument.py
!players/Backline/Backline.py
!players/Prickly/Prickly.py
!players/Lichess2013-2015/Lichess2013-2015.py
!players/Pokey/Pokey.py
