**/__pycache__
# Don't bother with ignoring the specific types of detritus from every language
players/*/*
!players/example/example.c
!players/Scholar/Scholar.c
!players/ZombieMarch/ZombieMarch.py
!players/JustEverything/JustEverything.py
!players/BluntInstrument/BluntInstrument.py
